
################################################################################
#                                                                              #
#                             Ｅｄｉｔｏｒｃｏｎｆｉｇ                             #
#                                                                              #
#                 This file defines basic file properties that                 #
#                 editors / IDEs use when you edit documents.                  #
#                                                                              #
#                 Check https://EditorConfig.org for details.                  #
#                                                                              #
################################################################################


root = true


[*]

end_of_line = lf


[*.{editorconfig,json,yml,lua,txt,md}]

trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4
charset = utf-8


[*.md]

trim_trailing_whitespace = false